.userslist__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 40%;
  margin: 1rem auto;
  border-bottom: 1px solid #000;

  &-info-container {
    display: flex;
    align-items: center;
    &-content{
      margin: 0 2rem;
      font-size: 1.5rem;
      font-weight: bold;
      
      & p{
        margin-bottom: 0.5rem;
      }

      @media screen and (max-width: 768px){
        font-size: 1.2rem;
      }
    }
    &-button {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 1.5rem;
      cursor: pointer;
      border: none;
      background-color: rgba(0, 0, 0, 0);

      @media screen and (max-width: 768px) {
        font-size: 2rem;
        top: 22px
      }
    }
  }

  &-buttons-container {
    &-button {
      margin: 0 1rem;
      padding: 0.5rem;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        margin: 0.5rem;
      }
    }

    &-img {
      display: block;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    width: 95%;
    margin: 1rem 0.5rem;
  }
}

.email {
  font-size: 1rem;
}