.success {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(98, 186, 43, 0.59);
}

.error {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(229, 11, 11, 0.59);
}